.projects {
  background-color: white;
  padding-bottom: 7rem;
  margin: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Roboto Slab", sans-serif;

  .projects-start-title {
    margin: 0;
    padding: 5rem 0 0 0;
    font-size: 2.5rem;
    color: #1b1c1e;
  }

  .section-spacing {
    margin-top: 4rem;
  }

  @media screen and (max-width: 945px) {
  }

  @media screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
  }

  @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
  }

  @media screen and (max-width: 620px) {
  }

  @media screen and (max-width: 415px) {
    height: 140rem;
  }

  @media screen and (max-width: 412px) {
  }

  @media screen and (max-width: 394px) {
    height: 140em;
  }

  @media screen and (max-width: 391px) {
    height: 144rem;
  }

  @media screen and (max-width: 376px) {
    height: 142rem;
  }

  @media screen and (max-width: 361px) {
  }

  @media screen and (max-width: 320px) {
  }

  @media screen and (max-width: 281px) {
    height: 170rem;
  }
}
