.side-nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 70px;
  height: 250px;
  background-color: #1b1c1e;
  border-radius: 30px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  margin-left: 20px;
  z-index: 3;
  font-family: "Roboto Slab", sans-serif;

  &.show {
    opacity: 1;
  }

  .side-nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;

    a {
      color: #fff;
      text-decoration: none;
      margin-top: 30px;

      &:hover {
        color: #05b59e;
      }
    }
  }

  @media screen and (max-width: 415px) {
    .side-nav {
      display: none;
    }
  }
}
