.front-image {
  .lottie-container {
    margin: 3rem 8rem 6rem 0;
    height: 22rem;
    width: 22rem;
  }

  @media screen and (device-width: 1280px) and (device-height: 800px) {
    .lottie-container {
      margin: 3rem 5rem 0 0rem;
      height: 30rem;
      width: 30rem;
    }
  }

  @media screen and (max-width: 1096px) {
    height: 20rem;
    width: 20rem;
    margin-right: 4rem;
    .lottie-container {
      margin: 3rem 5rem 0 0rem;
      height: 20rem;
      width: 20rem;
    }
  }

  @media screen and (device-width: 1024px) and (device-height: 600px) {
    margin-left: 0.5rem;
    .lottie-container {
      margin: 3rem 4.5rem 0 0rem;
      height: 23rem;
      width: 23rem;
    }
  }

  @media screen and (max-width: 945px) {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: -3rem 0 0 0;
    .lottie-container {
      margin-left: 3rem;
    }
  }

  @media screen and (device-width: 912px) and (device-height: 1368px) {
    .lottie-container {
      margin: 4rem 3rem 0 0rem;
      height: 35rem;
      width: 35rem;
    }
  }

  @media screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
    .lottie-container {
      margin: 3rem 3rem 0 0rem;
      height: 35rem;
      width: 35rem;
    }
  }

  @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
    .lottie-container {
      margin: 3rem 2rem 0 0rem;
      height: 30rem;
      width: 30rem;
    }
  }

  @media screen and (max-width: 620px) {
  }

  @media screen and (device-width: 540px) and (device-height: 720px) {
    .lottie-container {
      margin: 3rem 2rem 0 0rem;
      height: 21rem;
      width: 21rem;
    }
  }

  @media screen and (max-width: 415px) {
    .lottie-container {
      margin: 2rem 0rem 0 0rem;
      height: 23rem;
      width: 23rem;
    }
  }

  @media screen and (device-width: 414px) and (device-height: 736px) {
    .lottie-container {
      height: 19rem;
      width: 19rem;
    }
  }

  @media screen and (max-width: 412px) {
  }

  @media screen and (max-width: 394px) {
    .lottie-container {
      margin: 3rem 2rem 0 0.8rem;
      height: 21rem;
      width: 21rem;
    }
  }

  @media screen and (max-width: 391px) {
    .lottie-container {
      margin: 4.5rem 1rem 0 0.5rem;
      height: 21rem;
      width: 21rem;
    }
  }

  @media screen and (max-width: 376px) {
    height: 19rem;
    width: 19rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    .lottie-container {
      margin: 0 0 0 2rem;
      height: 18rem;
      width: 18rem;
    }
  }

  @media screen and (device-width: 375px) and (device-height: 812px) {
    height: 22rem;
    width: 22rem;

    .lottie-container {
      margin: 0 1rem 0 0;
      height: 20rem;
      width: 20rem;
    }
  }

  @media screen and (max-width: 361px) {
    height: 19rem;
    width: 19rem;
    .lottie-container {
      margin: 0 0rem 0 0.7rem;
      height: 20rem;
      width: 20rem;
    }
  }

  @media screen and (max-width: 321px) {
    margin: 0 0rem 0 0;
    .lottie-container {
      margin: 0 0.5rem 0 0;
      height: 17rem;
      width: 17rem;
    }
  }

  @media screen and (device-width: 280px) and (device-height: 653px) {
    margin: 0 1rem 0 0;
    height: 15rem;
    width: 15rem;
    .lottie-container {
      margin: 1rem 0rem 0 1rem;
      height: 20rem;
      width: 20rem;
    }
  }
}
