.skills-section {
  background-color: #05b59e;
  height: 170vh;
  margin-top: 16vh;
  font-family: "Roboto Slab", sans-serif;
  overflow-x: hidden;
  z-index: -1;

  .skills-content {
    color: white;
    text-align: center;
    // padding: 20px;
  }

  .skills-heading {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
    justify-items: center;
    margin: 6rem 8rem 0 8rem;

    .skills-container {
      display: flex;
      flex-flow: column;
      align-items: center;

      .skill-icon {
        font-size: 3rem;
        padding-top: 50px;
        margin: 0 0 1rem 0;
      }
    }
  }

  @media screen and (device-width: 1280px) and (device-height: 800px) {
    height: 58rem;
    margin-top: 15rem;
  }

  @media screen and (max-width: 1224px) {
    height: 170vh;
    margin-top: 15rem;
  }

  @media screen and (device-width: 1024px) and (device-height: 600px) {
    height: 50rem !important;
    margin-top: 10rem;

    overflow-x: hidden;
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 1073px) {
    height: 70rem;
  }

  @media screen and (device-width: 912px) and (device-height: 1368px) {
    height: 70vh;
    margin-top: 40vh;
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 825px) {
    height: 290vh;
  }

  @media screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
    height: 80vh;
    width: 100%;
    margin-top: 40vh;

    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 798px) {
    overflow: hidden;
    height: 120rem;
  }

  @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
    height: 85vh;
    margin-top: 40vh;
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (device-width: 540px) and (device-height: 720px) {
    height: 150vh;

    margin-top: 40vh;

    .skill-heading {
      font-size: 2.3rem;
    }

    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 415px) {
    height: 65rem;
    margin-top: 30vh;

    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 412px) {
  }

  @media screen and (max-width: 394px) {
  }

  @media screen and (max-width: 391px) {
    overflow-x: hidden;
    height: 55rem;
    margin-top: 15rem;
    .skills-content {
      .skills-icons {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
      }
    }
  }

  @media screen and (max-width: 376px) {
    height: 53rem;
    margin-top: 5rem;
    // padding-top: 1px;

    .skills-content {
      .skills-icons {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        .skill-icon {
          font-size: 2.2rem;
        }
      }
    }
  }

  @media screen and (max-width: 361px) {
    height: 130vh;
  }

  @media screen and (device-width: 280px) and (device-height: 653px) {
    height: 130vh;
    margin-top: 8rem;
    padding-top: 1px;

    .skills-content {
      .skills-icons {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        .skills-container {
          font-size: 0.8rem;
          .skill-icon {
            font-size: 2rem;
          }
        }
      }
    }
  }

  @media screen and (grid-template-columns: 1fr) {
    height: 120rem;
  }
}
