.about {
  position: relative;
  background-color: #05b59e;
  height: 105vh;
  overflow: hidden;
  font-family: "Roboto Slab", sans-serif;

  h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin: 5rem 0 0 0;
  }

  .about-container {
    display: flex;

    .lottie-animation {
      height: 35rem;
      width: 35rem;
      margin: -8rem 0 7rem 3rem;
    }

    .about-description {
      margin: 8.5rem 12rem 0 8rem;
      font-size: 1.2rem;
      text-align: left;
      order: 2;
      color: #fff;
    }
  }
}
