.about {
  position: relative;
  background-color: #05b59e;
  height: 110dvh;
  height: 110vh;
  //   margin: 0 0 80dvh 0;
  //   margin: 0 0 80vh 0;
  overflow: hidden;
  font-family: "Roboto Slab", sans-serif;

  h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin: 5rem 0 0 0;
  }

  .about-container {
    display: flex;
    img {
      height: 15rem;
      order: 1;
      margin: 6rem 0 0 20rem;
    }
    .about-description {
      margin: 8.5rem 12rem 0 8rem;
      font-size: 1.2rem;
      text-align: left;
      order: 2;
      color: #fff;
    }
  }
}
