.basic-textform {
  input {
    height: 2.4rem;
    max-width: 150%;
    width: 150%;
    min-width: 100%;
    font-family: Roboto Slab, sans-serif;
    color: white;
    font-size: 1rem;
    margin: 1rem 1rem 0 0;
    background-color: #303236;
    padding-left: 8px;
    outline: none;
    border: none;
  }
}
