.navbar {
  display: flex;
  align-items: center;
  background-color: #1b1c1e;

  .navbar-start {
    margin-right: auto;
  }

  .lottie-anim {
    padding: 1rem 0 0 1rem;
    height: 3rem;
    width: 3rem;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    padding: 0;

    li {
      margin: 0 2rem 0 0;

      a {
        transition: transform 0.2s;
        text-decoration: none;
        font-family: "Roboto Slab", sans-serif;
        font-size: 1.3rem;
        color: #fff;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          color: #05b59e;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
  }

  @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
  }

  @media screen and (max-width: 620px) {
  }

  @media screen and (max-width: 415px) {
    .lottie-anim {
      height: 4rem;
      width: 4rem;
    }

    .nav-links {
      padding-left: 1rem;
      li {
        margin: 0 2rem 0 0;

        a {
          font-size: 1.5rem;
        }
      }
    }
  }

  @media screen and (max-width: 412px) {
  }

  @media screen and (max-width: 394px) {
  }

  @media screen and (max-width: 391px) {
  }

  @media screen and (max-width: 376px) {
    .lottie-anim {
      height: 3rem;
      width: 3rem;
    }
    .nav-links {
      margin-right: 0.1rem;
      li {
        margin: 0 2rem 0 0;
        a {
          font-size: 1.3rem;
        }
      }
    }
  }

  @media screen and (max-width: 361px) {
    .navbar-start {
      margin-right: auto;
    }

    .lottie-anim {
      height: 3rem;
      width: 3rem;
    }

    .nav-links {
      li {
        margin: 0 2rem 0 0;
        a {
          font-size: 1.3rem;
        }
      }
    }
  }
}
