.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1b1c1e;
  padding: 15px;

  ul.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0 1.5rem 0 0;
    padding: 0;

    li {
      margin: 0 2rem 0 0;

      &:last-child {
        margin-right: 0;
      }

      a {
        transition: transform 0.2s;
        text-decoration: none;
        font-family: "Roboto Slab", sans-serif;
        font-size: 1.3rem;
        color: #fff;

        &:hover {
          transform: scale(1.1);
          color: #05b59e;
        }
      }
    }

    .lottie-container {
      margin-right: 64rem;
      height: 3rem;
      width: 3rem;
    }
  }
}
